<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.agilent.csda.acl.mapper.UserRolesMapper">
  <resultMap id="BaseResultMap" type="com.agilent.csda.acl.model.UserRole">
    <result column="acl_user_id" jdbcType="INTEGER" property="aclUserId" />
    <result column="acl_role_id" jdbcType="INTEGER" property="aclRoleId" />
  </resultMap>
    <resultMap id="DtoResultMap" type="com.agilent.csda.acl.dto.UserRolesDto">
        <id column="acl_user_id" jdbcType="INTEGER" property="aclUserId"/>
        <result column="acl_user_name" jdbcType="VARCHAR" property="aclUserName"/>
        <collection property="aclRoleList" ofType="com.agilent.csda.acl.model.Role">
            <id column="ar_id" jdbcType="INTEGER" property="id"/>
            <result column="ar_name" jdbcType="VARCHAR" property="name"/>
            <result column="ar_level" jdbcType="INTEGER" property="level"/>
            <result column="ar_authority" jdbcType="VARCHAR" property="authority"/>
            <result column="ar_status" jdbcType="VARCHAR" property="status"/>
        </collection>
    </resultMap>
  <insert id="insert" parameterType="com.agilent.csda.acl.model.UserRole">
    insert into acl_user_role (acl_user_id, acl_role_id)
    values (#{aclUserId,jdbcType=INTEGER}, #{aclRoleId,jdbcType=INTEGER})
  </insert>
    <select id="selectByUserId" resultMap="DtoResultMap">
        select
        T.acl_user_id, T.acl_role_id,
        AR.id as ar_id,
        AR.name as ar_name,
        AR.level as ar_level,
        AR.authority as ar_authority,
        AR.status as ar_status
        from acl_user_role T
        left join acl_role AR on T.acl_role_id = AR.id
        where T.acl_user_id = #{userId}
    </select>
    <select id="selectGroupByUserId" resultMap="DtoResultMap">
        select
        T.acl_user_id, T.acl_role_id,
        AR.id as ar_id,
        AR.name as ar_name,
        AR.level as ar_level,
        AR.authority as ar_authority,
        AR.status as ar_status
        from acl_user_role T
        left join acl_role AR on T.acl_role_id = AR.id
    </select>

    <update id="updateByUserIdAndRoleId">
        update acl_user_role
        <set>
            <if test="title != null">
                acl_user_role = #{aclUserId},
      </if>
            <if test="name != null">
                acl_role_id = #{aclRoleId}
      </if>
        </set>
        where acl_user_id = #{aclUserId}
        and acl_role_id = #{aclRoleId}
    </update>
    <delete id="deleteByUserId">
        delete from acl_user_role where acl_user_id = #{userId}
    </delete>
</mapper>